h2{
  font-family: 'Lobster', cursive;
  color: #F2F2F2;
}
html{
  background: #0C6FF2;
}
#card{
  border-radius: 25px;
}
h4{
  font-family: 'Lobster', cursive;
  color: #F27D29;
}
h5{
  font-family: 'Lobster', cursive;
  color: #F27D29;
}