<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>A Pen by  Francisco Velasquez</title>
    
    
    
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Lobster'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <div class="container" ng-app="toDoListApp">
  <div ng-controller="myController">
    <div class"row">
      <h2 class="center-align"><i class="zmdi zmdi-assignment-check"></i>
 Basic ToDoList</h2>
    </div>
    <div id="card" class="row card-panel hoverable">
    <form ng-submit="addActivity()">
      <div class="row">
        <div class="col s1">
        <i class="material-icons medium">edit</i>
        </div>
        <div class="col s11">
          <input type="text" ng-model="newActivity.description"></div>
      </div>
      <div class="row">
        <div class="col s1">
        <i class="material-icons medium">event_note</i>
        </div>
        <div class="col s11">
      <input type="datetime-local" class="datepicker" ng-model="newActivity.date">
        </div>
      </div>
      <button class="left-align btn-floating btn-large waves-effect waves-light orange"><i class="material-icons">add</i></button>
      <button ng-click="clean()" class="right btn-floating btn-large waves-effect waves-light red"><i class="material-icons">close</i></button>
    </form>
      <br>
      <h4><i class="material-icons small">event_available</i>Tasks</h4>
      <ul>
    <li ng-repeat = "activity in toDo">
      {{activity.description}} - {{activity.date | date: 'short'}}
    </li>
    </ul>
      <br>
      <blockquote> Agregar material design al DatePicker
        </blockquote>
      <h5>@francves</h5>
      </div>
    </div>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.2.2/angular-local-storage.min.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
